/* Styles for Home Page */

.nova {
    font-family: 'Nova mono';
}
#HeroBanner{
    height: 100vh;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.projectContainer {
    display: flex;
    margin: 2rem;
    margin-bottom: 4rem;
}

/*Intro Section*/
#SectionTitle{
    margin-top: -1vh;
    padding-top: 4vh;
    color: black;
    font-size: 10vh;
    font-family: 'Nova Mono';
    text-align: center;
}
#introSection{
    width: 100%;
    font-weight: 400;
}
.introContainer {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    margin-bottom: 6rem;
}

 .introView {
     line-height: 8vh;
     text-transform: uppercase;
    }
    .introView > div, a {
        font-size: 6vh;
        font-family: 'Nova Mono';
    }

.MoreSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 4rem;
}
.MoreSection > h1 {
    font-size: 2vh;
    font-family: 'Nova Mono';
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.linksList {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    list-style: none;
    padding-left: 0;
}
    .linksList > a {
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-bottom: 5rem;
        text-decoration: none;
        font-size: 2vh;
        width: 25%;
        border: solid 1px var(--accent-color);
        border-radius: 0.5rem;
        transition: 0.5s ease-in-out;
        background-color: var(--accent-color);
        color: var(--secondary-color);
    }

.typedText {
    padding-left: 2vh;
}

/*Skills Section*/
#BannerSection {
    font-family: 'Nova Mono';
    text-transform: uppercase;
    display: flex;
    height: 20vh;
    color: var(--secondary-color);
    background-color: var(--accent-color);
    flex-direction: column;
    justify-content: center;
}
.SkillsBanner {
    width: 80%;
    font-size: 2vh;
    overflow: auto;
    white-space: nowrap;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem;
}
@keyframes FadeIn{
    0%{
        opacity: 0%;
    }
    100%{
        opacity: 100;
    }
}

/*.LeftToRight {
    animation: LeftToRight 10s linear infinite;
}
@keyframes LeftToRight{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.RightToLeft {
    animation: RightToLeft 10s linear infinite;
}
@keyframes RightToLeft{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
}
*/
.SB2 {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-end;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
    .SkillsBanner > h1{
        display: inline-block;
        padding-right: 1rem;
        border-radius: 0.5rem;
        margin-left: 2rem;
    }
    .SkillsBanner::-webkit-scrollbar {
        display: none;
    }

/*Project Section*/
#projectsSection{
    padding-top: 5rem;
    background-color: var(--secondary-color);
}
#projectsTitle{
    margin-left: 2rem;
    margin-right: auto;
    margin-bottom: 1rem;
    padding-top: 4vh;
    color: black;
    text-transform: uppercase;
    font-size: 8vh;
    font-family: 'Nova Mono';
}

.projectsContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
}

.project {
    display: flex;
    height: 50vh;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1rem;
    flex-direction: row;
    border: solid black 1px;
    border-bottom: none;
}
    .project:nth-child(n+2) {
        border-bottom: solid black 1px;
    }
.projectSidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 20vw;
    border-right: solid black 3px;
    background-color: var(--accent-color);
    padding:2rem;
}
.projectName{
    font-size: 4vh;
    font-family: 'Nova Mono';
    color: #100c0c;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.projectDesc {
    font-size: 2vh;
    margin-bottom: 1rem;
}

.projectImagesScroll {
    display: flex;
    align-items: center;
    padding-left: 0rem;
    height: 100%;
    width: 80vw;
}
.projectImages {
    display: flex;
    background-color: transparent;
    align-items: center;
    height: 100%;
    width: 200%;
    margin-left: 1rem;
    overflow: auto;
}
.projectImages::-webkit-scrollbar {
    display: none;
}

.projectImage {
    object-fit: cover;
    box-shadow: -3px 5px 10px #000c;
    height: 90%;
    width: 100vw;
}
.projectImage:nth-child(n+2) {
    margin-left: 2rem;
}

/*SVG PATH TEXT FOOTER*/
#textSvg{
    height: 100%;
    overflow: auto;
    background-color: var(--secondary-color);
    position: relative;
    padding-top: 3rem;
}
.svgText {
    height: 80vh;
    font-size: 0.35rem;
    letter-spacing: -0.5px;
    color: var(--logo-color);
}

/*Socials Footer Links*/
.links {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}
    .links > div {
        margin: 1rem;
        text-align: center;
    }
    .links > div > .Icon {
        font-size: 5vw;
    }
    .links > div > p {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1vw;
    }
        .links > div > .Github {
            color: var(--github-color);
        }
        .links > div > .LinkedIn {
            color: var(--linkedin-color);
        }



